<div class="mainView" id="homeDiv">
</ul>
    <div class="floatingText">
        <h3>מערכת סולארית – במסגרת מונה נטו אחיד</h3>
        <h4>בואו להיות חלק מהמהפכה הסולארית</h4>
        <p>לא עוד חשבונות חשמל! כל החשמל שהמערכת הסולארית תייצר יקוזז מצריכת החשמל שלך</p>
        <p>לא עוד עלויות מטורפות! החל מ 51,500 שקלים פלוס מע"מ (למערכת בגודל 8 קילו וואט) ויש לך מערכת סולארית</p>
        <p>החזר השקעה תוך 6 שנים בלבד</p>
        <br>
        <label>חברת ירוק מקימה מערכות סולאריות מזה עשור וברשותה נסיון רב בתכנון ובהתקנה</label>
        <label>יחד נשקלל את כל הנתונים ונתאים לך מערכת סולארית</label>

    </div>

    <div class="floatingText contactUs">
        <a class="navigationLink" href="#/moneNeto">מסלול "מונה נטו אחיד"</a>
        </br> 

        <div>לפרטים נוספים:</div>
        <div>054-8188370 (אורן)</div>
        <div>054-5440960 (עומר)</div>
        <a href="mailto:sales@yarokprojects.co.il?subject=פנייה מאתר ירוק פרויקטים&body=אנא השאר שם, טלפון, ופרט כאן את פנייתך ונחזור אליך בהקדם">sales@yarokprojects.co.il</a>
        </br>

        <div class="fb-page" data-href="https://www.facebook.com/OrenOmerKremer/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/OrenOmerKremer/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/OrenOmerKremer/">Yarok Projects</a>
            </blockquote>
        </div>
        </br>
        
        <a class="navigationLink" href="#/products?expand=true">מחשבון סולארי</a>
        </br>
        <a class="navigationLink" href="#/contact">צור קשר</a>
        

        <!--<contact-us></contact-us>-->
    </div>
    
    
</div>

