<div class="mainView"  id="moneNetoDiv">
</ul>
    <div class="floatingText">
        <p>היום יותר מתמיד קל יותר וזול יותר להקים מערכת סולארית ביתית</p>
        <p><b>מה השתנה אתם שואלים?</b><br>
            <b>✔</b>	מאז הכנסו לתוקף של <a target="_blank" href="http://bonim.pnim.gov.il/About/Pages/AboutReform.aspx">חוק הפרגולות</a> אין יותר צורך בהיתר בניה עבור מערכת סולארית במונה נטו.<br>
            <b>✔</b>	מחיר הפנלים והממירים ירד בצורה דראסטית כך שמערכת סולארית הפכה להיות שווה לכל כיס – החל מ 60,000 שקלים.<br>
            <b>✔</b>	התשואה על מערכת סולארית נשאר כשהיה ועומד על כ  13%-15% תשואה, תלוי בגודל המערכת, והתקופה להחזר ההשקעה עומד על כ 7 שנים, תלוי בהספק המערכת. וכאן המומחיות של חברת ירוק, חברה ותיקה שתכננה והקימה מאות מערכות. אנו יודעים, ע"י תכנון נכון ומקצועי, למקסם עבורכם את הפוטנציאל של גג המבנה.<br>
            <b>✔</b>	הטכנולוגיה השתפרה כך שהספק הפנלים למ"ר עלה בצורה חדה ולכן גגות שפעם נחשבו לקטנים ולא רלוונטיים למערכת סולארית הפכו למתאימים. למעשה כמעט כל גג בגודל של 70 מ"ר ומעלה יכול להיות רלוונטי להתקנה.<br>
            <b>✔</b>	מערכת סולארית ביתית בהסדרת מונה נטו אינה חייבת בדיווח לרשויות המס, אינה חייבת בניהול ספרים ואינה חייבת בתשלום מס!</p>
        <p><b>קצת על ההסדרה שנקראת "מונה נטו" ואיך זה עובד</b><br>
            כאשר אנו מפעילים מכשירים חשמליים אנו צורכים חשמל מרשת החשמל הארצית. כאשר אנו מייצרים חשמל ע"י מערכת סולארית אנו מזרימים את החשמל המיוצר אל הרשת הארצית.<br>חשמל זה, המוזרם אל הרשת, מזכה את היצרן (שזה אתם) בקרדיט. את הקרדיט תוכלו לאגור עד לתקופה של שנתיים ולנצלו באחת מהדרכים הבאות:<br>
            1.	קיזוז חשבון החשמל במונים הרשומים על אותו צרכן.<br>
            2.	מכירת החשמל המופק לחברת החשמל בתעריף השווה למרכיב הייצור במחיר החשמל.<br>
        </p>
        </p>אגירת קרדיט לתקופה של שנתיים מאפשרת לכם למעשה להשתמש בעודפי הייצור לעונות בהם צריכתכם עולה על יכולות הייצור של המערכת הסולארית.</p>

        <p><b>כמה שנים תוכלו להנות מהסדרה זו?</b><br>
            ההסדרה אינה מוגבלת בזמן (כאורך חיי המערכת) ולכן לאחר החזר ההשקעה הראשונית תוכלו להינות מחסכון למשך תקופה בלתי מוגבלת!</p>
    </div>   
    
    
</div>

